.Footer{
    padding-top: 20px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    height: 220px;
    color: white;
}

#web{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.fdit{
    padding: 4px 10px 4px 10px;
    background-color: mediumturquoise;
    color:whitesmoke;
}

#icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

#icons i{
    font-size: 20px;
}